<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Profile</h1>
    <table>
    	<tr>
    		<th>Username</th>
    		<td><%= body.login %></td>
    	</tr>
    	<tr>
    		<th>Userid</th>
    		<td><%= body.id %></td>
    	</tr>
    	<tr>
    		<th>Company</th>
    		<td><%= body.company %></td>
    	</tr>
    	<tr>
    		<th>Location</th>
    		<td><%= body.location %></td>
    	</tr>
    	<tr>
    		<th>Followers</th>
    		<td><%= body.followers %></td>
    	</tr>
    	<tr>
    		<th>following</th>
    		<td><%= body.following %></td>
    	</tr>
    	<tr>
    		<th>Email</th>
    		<td><%= body.email %></td>
    	</tr>
    </table>
   <a href="/repo" class="button", value=<%= body.repos_url %>>Repo</a>
  </body>
</html>