<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p><%= body.login %></p>
    <p><%= body.id %></p>
    <p><%= body.company %></p>
    <p><%= body.location %></p>
    <p><%= body.followers %></p>
    <p><%= body.following %></p>
    <p><%= body.email %></p>
   
  </body>
</html>